body {
  margin: 40px;
  background-color: #444;
}
img {
    width: 128px;
    height: auto;
    margin: auto;
    display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows:    180px 180px 180px;
  grid-gap: 10px;
  color: #444;

  justify-items: center;
	align-items: center;

  justify-content: center;	
  align-content: center;	
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:hover { background-color: #555; }

.material-icons.md-128 { font-size: 128px; }
